.resimSlider {
    height: 600px;
}

body {
    padding-top: 50px;
    background-color: burlywood;
}

.icerik {
    width: 48%;
    height: 40%;
    display: inline-block;
    margin-right: 1%;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}

.icerikyazisi {
    margin: 2%;
    text-align: justify;
}

h4 {
    padding-top: 2%;
    text-align: center;
}

.resimler {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}